/*
    File theme:     APP
    Description:    Styles based EPAGOS
    Author:         Diego Delbono
    Version:        1.0
*/

@import url(reset-primefaces.css);
@import url(flexboxgrid.css);

*,
*:after,
*:before{
    box-sizing: border-box;
}

/*  Body
    ------------------------------------------ */
body {
    background: #fbfbfb;
}

@media (max-width: 420px){
    body {
        background: #fff;
        overflow-x: hidden;
    }
}

/*-------------*/

h1, h2, h3, h4 {
    color: #FF8A05;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

p, span, ul li, a, * {
    color: #636363;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: normal;
}

p {
    margin-bottom: 20px;
}

a {
    color: #02599B;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

a:hover, a:focus {
    color: #18265A;
}

ul, ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

strong {
    font-weight: 700;
}

/*  Clases
    ------------------------------------------ */
.center {
    text-align: center;
}

/*  Header
    ------------------------------------------ */
header.site-header {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 5px 0;
    transition: all 0.3s ease;
    z-index: 999;
    margin-top: 40px;
}

header.site-header p{
    margin: 0;
}

header.site-header p label{
    color: #0e2a57;
}

    header .logo{}
    header .logo img{
        height: 50px;
    }

header.site-header.fixed {
    background: #e5e5e5;
}

    header.site-header.fixed .logo img{
        mix-blend-mode: multiply;
        height: 27px;
    }

    @media (max-width: 420px){
        header.site-header {
            margin-top: 40px !important;
            padding-right: 15px;
        }
        header .logo img{
            height: 45px;
        }
        header .logo{
            margin-left: 15px;
        }
    }

/*  Main
    ------------------------------------------ */
main {
    position: relative;
    margin-top: 105px;
    z-index: 2;
    display: block;
}
main:after {
    content: " ";
    width: 100%;
    height: 40px;
    position: fixed;
    background: #fbfbfb;
    top:0;
    left: 0;
}

    @media (max-width: 420px){
        main{
            padding: 0;
            margin-top: 95px;
            background: none;
            margin-bottom: 190px;
        }
    }

/*  Aside
    ------------------------------------------ */
aside {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);
    background: white;
    padding: 20px;
}

aside h3 {
    color: #18265A;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 10px;
}

aside h4 {
    color: #636363;
    font-size: 20px;
}

aside .detalle {
    margin-bottom: 10px;
}

aside .detalle-box {
    height: 250px;
    overflow-y: scroll;
}

aside .total {
    margin: 10px 0;
}

aside .total p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    margin: 0;
}

aside .total p.price {
    color: #89031D;
    font-size: 30px;
    font-weight: 400;
}

aside .ui-button {
    width: 100%;
}

@media (max-width: 420px) {
    aside .total {
        flex-direction: column;
    }
}

@media (min-width: 801px) and (max-width: 920px) and (max-height: 700px) {
    aside {
        position: fixed;
        top: 60px;
        width: 300px;
    }
}

@media (min-width: 921px) {
    aside {
        position: fixed;
        top: 105px;
        width: 300px;
    }
}

@media (max-width: 800px) {
    aside .ui-button {
        display: none;
    }
}

@media (max-height: 700px) {
    aside {
        position: relative;
        top: 0;
    }
    aside#panelResumenAside {
        margin-bottom: 100px;
    }
}

/*  Resumen aside
    ------------------------------------------ */
.resumen-aside {
    display: none;
}

@media (max-width: 800px) {

    .resumen-aside {
        background: #e3e3e3;
        display: block;
        position: fixed;
        padding: 15px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .resumen-aside h3,
    .resumen-aside h4 {
        font-size: 16px;
        margin: 0;
    }

    .resumen-aside h4 {
        color: #02599B;
        font-weight: 700;
        margin-bottom: 5px
    }

    .resumen-aside p {
        font-size: 14px;
    }

    .resumen-aside .link-resumen {
        color: #02599B;
        display: block;
        font-size: 13px;
        margin: 0 0 5px 5px;
        text-align: right;
        text-decoration: none;
    }

    .resumen-aside .link-resumen:after {
        background: url(../assets/arrow-down.svg) center center no-repeat;
        background-size: 10px;
        content: "";
        display: inline-block;
        height: 10px;
        width: 20px;
    }

    .resumen-aside .box-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: end;
    }

    .resumen-aside .ui-button {
        display: block;
        margin: 5px 0;
        padding: 5px 0;
        width: auto;
    }

    .resumen-aside .ui-button span {
        font-size: 16px;
        padding: 0 10px;
    }
}

/*  Footer
    ------------------------------------------ */
footer {
    border-top: 1px solid #D3D7E0;
    padding: 25px 0;
    z-index: 1;
    margin-top: 50px;
}

footer p {
    color: #636363;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    line-height: 14px;
}

footer .logo {
    margin: 0 10px;
    width: 60px;
}

footer .logo img {
    width: 100%;
}

footer .subtitle {
    width: 60%;
}

footer .terms {
    position: absolute;
    line-height: 14px;
    right: 15px;
    text-align: right;
}

footer .terms p{
    font-weight: 600;
}

footer .terms a {
    font-size: 13px;
    line-height: 14px;
    margin-left: 5px;
    text-decoration: none;
}

footer .row {
    position: relative;
    padding: 0px 8px;
}

@media (max-width: 420px){
    footer{
        display: none;
    }
}

/*  Hr
    ------------------------------------------ */
hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cecece;
    border-left: 0;
}

/*  Grid
    ------------------------------------------ */
.container-fluid {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid .row {
}

@media (min-width: 800px) {
    .content-box .col-sm-8 {
        padding-right: 0;
    }

    .content-box .col-sm-4 {
        padding-left: 0;
    }
}

@media (max-width: 640px) {
    /*.container-fluid{
        padding: 0;
    }*/
    .xs-full .col-auto {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 460px) {
    .container-fluid{
        padding: 0;
    }
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

/*  Box
    ------------------------------------------ */
.box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: white; 
    /* border: 2px solid rgba(99, 99, 99, 0.25); */
    margin: 0 0 20px 0;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all.box{
    border: 2px solid rgba(99, 99, 99, 0.25);
}

.box .ui-widget-header {
    padding: 20px 0 !important;
    border-bottom: 1px solid #cecece;
    margin: -2px 20px;
}

.box .ui-widget-header,
.box header {
    text-align: left;
    padding: 20px 15px 15px;
}

.box.short-bottom-border .ui-widget-header,
.box.short-bottom-border header {
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px 0 !important;
}

.box .ui-panel-footer,
.box footer {
    padding: 0 20px;
}

.box .ui-widget-header span {
    color: #FF8A05;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.box .ui-panel.ui-widget.ui-widget-content{
    border: 1px solid #cecece;
    border-radius: 5px;
    height: 100%;
}

@media (max-width: 800px) {
    .box .ui-panel-footer,
    .box .ui-widget-header {
        padding: 15px;
    }
}
@media (max-width: 460px) {
    .box{
        border: none !important;
        border-radius: 0;
        margin: 0;
    }
    .box .ui-panel.ui-widget.ui-widget-content{
        border: none;
        border-radius: 0;
        height: 100%;
    }
    .box .ui-widget-header {
        margin:0;
        padding: 15px !important;
    }
}

.box h3, .box h3 * {
    color: #18265A;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px !important;
    line-height: 30px;
    margin: 20px 0 15px 0;
}

/*@media (max-width: 640px){
    .box{
        border: none;
        border-radius: 0;
        margin: 0;
    }
}*/

/* Box + Table*/
.box .ui-datatable-tablewrapper{
    margin: 0 20px;
}

.box .ui-datatable-tablewrapper table{margin-bottom: 20px;}

.box .ui-datatable-tablewrapper table tr{

}

.box .ui-datatable-tablewrapper table tr:not(.ui-datatable-selectable){
    background: #e2e2e2;
}

.box .ui-datatable-tablewrapper table tr td{
    padding: 15px;
    padding-bottom: 10px;
}

.box .ui-datatable table tr.ui-widget-content:last-child {
    border-bottom: 1px solid #cecece !important;
}

.box.panel-collapse .ui-datatable table tr.ui-widget-content:last-child {
    /* border-bottom: none !important; */
}

.box .ui-datatable table tr.ui-widget-content.ui-state-highlight:last-child {
    border-bottom: 2px solid #FF9c44 !important;
}

.box .ui-datatable .ui-datatable-data tr.ui-state-highlight {
    background: #fff7f0;
    /*background: #fff0f7;*/
    border: none;
    border-top: 2px solid #FF9c44;
    border-bottom: 2px solid #FF9c44 !important;
    text-shadow: none;
}
.box .ui-datatable .ui-datatable-data tr.ui-state-highlight .logo-medio-pago, .ui-datatable .ui-datatable-data tr.ui-state-highlight .logos-grupo-2, .ui-datatable .ui-datatable-data tr.ui-state-highlight .logos-grupo-3 {
    border: 2px solid #FF9c44;
}
@media (max-width: 460px) {
    .box .ui-datatable-tablewrapper{
        margin: 0;
    }
    .box .ui-datatable-tablewrapper table tr td {
        padding: 15px 0;
    }
}
/*  Box + Section
    ------------------------------------------ */
.box section {
    padding: 30px 60px;
}

.box section.box-small {
    padding: 30px;
}

.box .box-item {
    padding: 30px 30px 0 22px;
}

.box .box-item p {
    margin-bottom: 15px;
    line-height: 15px;
}

.box .box-item p label {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 15px !important;
    display: none;
}

.box .box-item .ui-g .ui-datagrid-column {
    padding: 0;
    width: auto;
}

.box .box-item .ui-widget-header {
    border: none;
    padding: 0px 0 0 !important;
    margin: 0;
}

.box .box-item .ui-widget-header h3{
    margin: 0;
}

.box .box-item .logo-medio-pago {
    max-width: 100px;
}

@media (max-width: 768px) {
    .box section {
        padding: 30px;
    }
}

@media (max-width: 460px) {
    .box .box-item {
        padding: 25px 15px 0 15px;
    }
}

/*  Box + Afiliación
    ------------------------------------------ */
.box-afiliacion {
    /* flex: 1; */
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
    width: 100%;
    height: 22px;
    display: inline-block;
}

.box-afiliacion p {
    margin: 0;
}

.box-afiliacion .desc-afiliacion span {
    margin-right: 5px;
}



.box-afiliacion .afiliacion-estado {
    font-size: 11px;
    line-height: 1;
    display: block;
    text-transform: uppercase;
    padding-top: 4px;
    position: absolute;
    left: 0;
    top: -16px;
}

.box-afiliacion .txt-cond:not(.desc-afiliacion){
    float: right;
    margin-top: -19px;
}

.box-afiliacion .desc-afiliacion{float: left;width: 100%;margin-top: 1px;line-height: 0.5;}

.box .ui-datatable-tablewrapper table tr:not(.ui-datatable-selectable) .box-afiliacion .desc-afiliacion{margin-top: 10px;color: #8e8e8e;}
.box .ui-datatable-tablewrapper table tr:not(.ui-datatable-selectable) .box-afiliacion .desc-afiliacion span{color: #8e8e8e;}
.box .ui-datatable-tablewrapper table tr:not(.ui-datatable-selectable) .box-afiliacion .afiliacion-estado{top: -10px;}
.box .ui-datatable-tablewrapper table tr:not(.ui-datatable-selectable) .box-afiliacion .txt-cond:not(.desc-afiliacion){
    margin-top: -27px;
    color: #9e9d9d;
}

@media (max-width: 768px) {
    .box-afiliacion {
        flex-direction: column;
        position: relative;
        margin-top: -17px;
        margin-left: -5px;
    }

    .box-afiliacion .afiliacion-estado {
        max-width: 110px;
        position: absolute;
        right: 0px;
        top: -5px !important;
        text-align: right;
        left: auto;
    }
    .box-afiliacion .txt-cond{
        float: left !important;
        margin: 0 !important;
    }

    .box-afiliacion .desc-afiliacion{float: left;width: 100%;}
}

/*  Box + Section Footer
    ------------------------------------------ */
.section-footer {
    display: flex;
    align-items: center;
    padding: 0 30px 15px 15px !important;
}

.section-footer a {
    color: #337ab7;
    text-decoration: none;
}

@media (max-width: 768px) {
    .section-footer {
        flex-direction: column;
        padding: 0 30px 10px !important;
    }
}

/*  Box + Section
    ------------------------------------------ */
.header-section {
}

.header-section h1 {
    display: inline;
    font-size: 20px;
    color: #0e2a57;
}

.header-section img {
    /* display: none; */
    float: right;
}

.header-section.header-inline {
/*    align-items: center;
    display: flex;*/
}

.header-section.header-inline h1 {
    font-size: 20px;
    margin-right: 7px;
    color: #162456;
}

.header-section.header-inline img {
    margin: 0;
    margin-top: 5px;
    display: inline-block;
}

@media (max-width: 640px) {
    .header-section.header-inline {
        /* align-items: flex-start; */
        /* flex-direction: column; */
    }
}
@media (max-width: 460px) {
    .header-section img {
        display: none !important;
    }
}

/*  Form group
    ------------------------------------------ */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label,
.form-group span {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 14px !important;
    margin-bottom: 5px;
}

.form-group .form-msg-error {
    color: red;
    font-size: 13px !important;
    margin-top: 5px;
}

.form-group .box-form-group {
    position: relative;
    max-width: 350px;
    width: 100%;
}

.form-group .img-card {
    background-size: contain !important;
    position: absolute;
    border: 1px solid #dbdbdb;
    height: 30px;
    width: 50px;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}

.form-group .img-card.visa {
    background: url('../logos_financieras/visa.png') center center;
}

.form-group .img-card.mastercard {
    background: url('../logos_financieras/mastercard.png') center center;
}

/*  Form Inputs
    ------------------------------------------ */
.form-group .ui-inputtext {

}

.form-group .ui-inputtext.small-input {
    width: 136px;
}


/*  Buttons
    ------------------------------------------ */
.btn-link {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #02599B;
    font-size: 13px;
    text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
    color: #024168;
}

.ui-button.ui-state-default {
    padding: 10px 32px !important;
}

.ui-button.button-link.button-small {
    padding: 0 !important;
}

.ui-button.button-link.button-small span {
    padding: 0 !important;
    text-transform: capitalize;
    font-size: 14px;
}

.fixed-top{
    position: fixed;
    top: 0;
    height: 40px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 8px;
    background: #fbfbfb;
}
.ui-commandlink.fixed-top{
    position: fixed;
    top: 0;
    background: #fbfbfb;
    width: 100%;
    margin: 0;
    height: 40px;
    text-align: left;
    padding: 12px 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 460px) {
    .btn-link {
        display: block;
        margin: 0 15px;
    }

    .fixed-top{
        position: fixed;
        top: 0;
        background: #fbfbfb;
        width: 100%;
        left: 0;
        margin: 0;
        height: 40px;
        text-align: left;
        padding: 0px 15px;
    }
    .ui-commandlink.fixed-top{
        position: fixed;
        top: 0;
        background: #fbfbfb;
        width: 100%;
        left: 0;
        margin: 0;
        height: 40px;
        text-align: left;
        padding: 12px 15px;
    }
}

/*  Wrap button
    ------------------------------------------ */
.wrap-button {
    margin-top: 50px;
    padding: 15px 0;
}

.wrap-button p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
}

.wrap-button .button,
.wrap-button .ui-button {
    margin: 20px 0 10px 0;
    display: block;
}

.wrap-button a {
    color: #337ab7;
    text-decoration: none;
}

.wrap-button a:hover,
.wrap-button a:focus {
    color: #172658;
}

.ui-button.ui-state-disabled {
    background: #5f5e5e;
    cursor: auto;
    text-shadow: none;
}

@media (max-width: 460px) {
    .wrap-button{
        margin: 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 15px;
        left: 0;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 9px #000;
        background: #fff;
    }
    .wrap-button .button,
    .wrap-button .ui-button{
        /*margin: 20px 0 10px 0;*/
        margin: 10px auto 0 auto;
        display: block;
    }
}

/*  Box coutas
    ------------------------------------------ */
.box-cuotas {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.box-cuotas span.cant-cuotas {
    font-size: 11px;
    font-weight: 700;
    margin-right: 10px;
}

@media (max-width: 460px) {
    .box-cuotas {
        align-items: flex-end;
        flex-direction: column;
    }

    .box-cuotas span.cant-cuotas {
        display: none !important;
    }
}

/*  Collapse
    ------------------------------------------ */
.box.panel-collapse {
    border: 2px solid #cecece;
}

.panel-collapse .ui-icon {
    /* display: none; */
    margin-top: 10px;
    height: 15px;
    width: 15px;
}

.panel-collapse .ui-icon:hover,
.panel-collapse .ui-icon:focus {
    opacity: 0.5;
}

.panel-collapse .nuevo-medio {
    border-bottom: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 8px !important;
}

.ui-icon-plusthick {
    background: url(../assets/arrow-down.svg) no-repeat !important;
}

.ui-icon-minusthick {
    background: url(../assets/arrow-up.svg) no-repeat !important;
}

/*  Messages
    ------------------------------------------ */
.ui-messages {
}

.ui-messages .ui-messages-error {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px;
    border: 2px solid #f1bdbd;
}

.ui-messages .ui-messages-info {
    background: #fff;
    border: 2px solid #c9deae;
}

.ui-messages .ui-messages-error span,
.ui-messages .ui-messages-info span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}
.ui-messages .ui-messages-error-detail{
    margin-left: 12px;
    display: block;
}

.short-message {
    font-size: 14px;
    padding-left: 15px;
}

.short-message.success {
    color: #326024;
    background-image: url(../assets/ico-success.png);
    background-repeat: no-repeat;
}

@media (max-width: 460px) {
    .ui-messages {
        margin: 0 15px;
    }
    .ui-messages .ui-messages-error-detail{
    margin: 0;
    padding: 0 15px;
    font-size: 14px !important;
    }
}

/*  Medio pago
    ------------------------------------------ */
.medio-pago {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.logo-medio-pago {
    background: white;
    border: 2px solid #cecece;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 0 15px 5px 0;
    min-width: 80px;
    max-width: 80px;
    width: 100%;
    padding: 0 5px;
}

.logo-medio-pago img {
    width: 100%;
}

.logo-medio-pago:hover,
.logo-medio-pago:focus {
    border: 2px solid #FF8A05;
}

.logos-grupo-2,
.logos-grupo-3 {
    border: 2px solid rgba(99, 99, 99, 0.2);
    border-radius: 5px;
    max-width: 250px;
    margin: 10px 15px 10px 0;
    overflow: hidden;
}

.logos-grupo-2 img,
.logos-grupo-3 img {
    width: 100%;
}

.logos-grupo-2 {
    max-width: 160px;
}

.logos-grupo-3 {
    max-width: 250px;
}

.logos-grupo-2:hover,
.logos-grupo-2:focus,
.logos-grupo-3:hover,
.logos-grupo-3:focus {
    border: 2px solid #02599B;
}

.logo-medio-pago-seleccionado,
.logo-medio-pago-seleccionado:hover,
.logo-medio-pago-seleccionado:focus {
    border: 2px solid #FF8A05;
}

aside .medio-pago {
}

aside .medio-pago img {
    height: 43px;
    width: 100%;
}

aside .medio-pago p {
    margin: 0;
}

aside .logos-grupo-2,
aside .logos-grupo-3 {
    width: 100%;
}

aside .logo-medio-pago:hover,
aside .logo-medio-pago:focus,
aside .logos-grupo-2:hover,
aside .logos-grupo-2:focus,
aside .logos-grupo-3:hover,
aside .logos-grupo-3:focus {
    border: 2px solid rgba(99, 99, 99, 0.2);
}

@media (max-width: 800px) {
    .logo-medio-pago {
        max-width: 60px;
    }

    .logos-grupo-2,
    .logos-grupo-3 {
        width: 190px;
    }
}

/*  Nuevo medio pago
    ------------------------------------------ */
.nuevo-medio {
    /* border-bottom: 1px solid #cecece; */
    /* border-top: 1px solid #cecece; */
    margin: 0;
    padding: 15px;
}

.nuevo-medio a {
    color: #024168;
    font-size: 16px !important;
    font-weight: 400;
    text-decoration: none;
    display: contents;
}

.nuevo-medio a:first-child {
    display: block;
    width: 80px;
    height: 45px;
    border: 2px solid #337ab7;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
}
.nuevo-medio a:first-child::after {
    content: " ";
    position: absolute;
    top: 0;
    width: 22%;
    height: 1px;
    border-top: 1px solid #337ab7;
    margin: 26% 40%;
}
.nuevo-medio a:first-child::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 1px;
    height: 40%;
    border-left: 1px solid #337ab7;
    margin: 16% 50%;
}

.nuevo-medio a:hover,
.nuevo-medio a:focus {
    color: #024168;
}

.nuevo-medio .logo-medio-pago {
    padding: 0;
    display: none;
}

@media (max-width: 460px) {
    .nuevo-medio {
        margin: 0;
        padding: 0 16px 15px !important;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: -5px;
    }
}

/*  Container small
    ------------------------------------------ */
.container-small {
    max-width: 600px;
}

.container-small section {
    padding: 15px 30px;
}

@media (max-width: 640px) {
    .container-small section {
        padding: 20px;
        max-width: 100%;
    }
}

/*  Talon
    ------------------------------------------ */
.talon {
    padding: 20px;
}

.talon .detalle-compra {
    border: none !important;
    width: 100%;
}

.talon .detalle-compra tr,
.talon .detalle-compra tr td {
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
}

.talon .detalle-compra tr td * {
    font-family: "Roboto Condensed", sans-serif;
}

.talon .detalle-compra tr:first-child {
}

.talon .detalle-compra tr:first-child td {
    border-bottom: 1px solid #cecece;
    font-size: 14px;
}

.talon .logo-medio-pago,
.talon .logos-grupo-2,
.talon .logos-grupo-3 {
    margin: 5px auto;
}

.talon .logo-medio-pago:hover,
.talon .logo-medio-pago:focus,
.talon .logos-grupo-2:hover,
.talon .logos-grupo-2:focus,
.talon .logos-grupo-3:hover,
.talon .logos-grupo-3:focus {
    border: 2px solid rgba(99, 99, 99, 0.2);
    cursor: default;
}

@media print {
    body {
        background: white;
    }

    .talon {
    }

    .ui-button,
    .ui-commandlink {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .talon img {
        width: 100%;
    }

    .talon .detalle-compra {
    }

    .talon .detalle-compra tr {
    }

    .talon .detalle-compra tr:first-child {
        display: none;
    }

    .talon .detalle-compra tr td {
        border-bottom: 1px solid #ececec;
        display: block;
        width: 100%;
    }

    .talon .detalle-compra tr td * {
        font-size: 13px;
    }
}

/*  Alertas
    ------------------------------------------ */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 5px;
}

.alert p {
    margin-bottom: 5px;
}

.alert p,
.alert p * {
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-warning * {
    color: #8a6d3b;
}

.text-danger,
.text-danger * {
    color: #a94442;
    font-size: 15px;
}

.text-danger strong {
    margin-right: 5px;
}

@media (max-width: 800px) {
    .text-danger,
    .text-danger * {
        font-size: 13px;
    }
}

/*  Message
    ------------------------------------------ */
.message {
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 20px;
}

.message p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}

.message.info {
    border: 2px solid #6a8aaa;
    background: #ebf4f7;
}

.message.info p {
    color: #2D2D2D;
    line-height: 18px;
}

@media (max-width: 800px) {
    .message p {
        font-size: 13px;
    }
}

/*  Icons
    ------------------------------------------ */
.ico-help {
    margin: 7px 10px;
}

.ico-help span {
    align-items: center;
    display: flex;
    color: #337ab7;
    font-size: 12px !important;
}

.ico-help span::before {
    background: white;
    border: 2px solid #337ab7;
    border-radius: 50%;
    content: "?";
    color: #337ab7;
    font-size: 14px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.ico-close:before{
    background: url(../assets/ico-close.svg) no-repeat 50% 50% !important;
    content: "";
    display: block;
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
}

.ico-close,
.ui-button.ui-state-default.ico-close{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    position: fixed;
    top: 60px;
    right: 10%;
    height: 70px;
}

.ico-close span{
    font-size: 13px !important;
    padding: 0 !important;
    text-transform: capitalize !important;
}

.ico-close:hover,
.ico-close:focus {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .ico-close,
    .ui-button.ui-state-default.ico-close{
        height: 30px;
        top: 10px;
        right: 20px;
        z-index: 9999;
    }
    .ico-close:before{
        display: none;
    }

    /* Corregir altura */

    form[action*="afiliaciones/afiliacion"]{
        margin-top: -60px;
    }
}

@media (max-width: 640px) {
    .ico-help {
        display: none;
    }
}

/*  Link Volver
    ------------------------------------------ */
.volver {
    background: #18265A;
    -webkit-mask: url(../assets/arrow-left.svg) no-repeat 50% 50%;
    mask: url(../assets/arrow-left.svg) no-repeat 50% 50%;
    display: inline-block;
    margin-right: 10px;
    height: 15px;
    text-indent: -999px;
    width: 15px;
}

.link-volver{
    position: fixed;
    top: 0;
    padding: 12px 0;
    z-index: 10;
    display: block;
}

/*  Flex
    ------------------------------------------ */
.flex {
    display: flex;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*  Sidebar Antel Pagos
    ------------------------------------------ */
.sidebar-antel-pagos {
    /* border-left: 2px solid rgba(99, 99, 99, 0.25); */
    height: 100%;
    padding: 30px;
    text-align: center;
    margin-left: 30px;
    background: white;
}

.sidebar-antel-pagos figure {
    margin: 20px 0;
}

.sidebar-antel-pagos p {
    color: #172658;
    font-size: 14px;
    margin-bottom: 20px;
}

.sidebar-antel-pagos p.text-imp {
    font-size: 20px;
}


@media (max-width: 767px) {
    .sidebar-antel-pagos {
        display: none;
    }
}

@media (min-width: 800px) {
    .sidebar-antel-pagos {
        margin-left: 30px !important;
    }
}

@media (min-width: 768px) {
    .sidebar-antel-pagos {
        margin: 0;
    }
}

/*  Align
    ------------------------------------------ */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*  Border
    ------------------------------------------ */
.border-right {
    border-right: 2px solid rgba(99, 99, 99, 0.25);
}

.border-left {
    /* border-left: 2px solid rgba(99, 99, 99, 0.25); */
}

.help-form {
    font-size: 12px;
    margin-top: 5px;
    color: #ababab;
}


/*  Class
    ------------------------------------------ */
.txt-big {
    font-size: 16px;
}

.txt-cond {
    font-family: "Roboto Condensed", sans-serif;
}

.bg-white{
    background: white;
}

/* Padding
   ------------------------------------------- */

.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-long {
    padding: 0 0 132px 0 !important;
}

.padding-medium {
    padding: 0 0 10px 0 !important;
}

.padding-small {
    padding: 0 0 10px 0 !important;
}

/* Bold
   ------------------------------------------- */

span b, p b {
    font-weight: bold !important;
}

.negative-top{
    margin-top: -55px !important;
}